<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-primary">Lista de Usuário</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div *ngIf="loading">
                <i class="fas fa-circle-notch fa-spin"></i> Carregando...
            </div>
            <table class="table" *ngIf="!loading">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">{{user.id}}</th>
                        <td>
                            <img src="{{user.avatar}}" class="avatar">
                        </td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>